<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= @hoa.contact %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @hoa.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @hoa.email %>
</p>

<p>
  <strong>Community:</strong>
  <%= @hoa.community %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hoa.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @hoa.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @hoa.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @hoa.zipcode %>
</p>

<p>
  <strong>Website:</strong>
  <%= @hoa.website %>
</p>

<%= link_to 'Edit', edit_hoa_path(@hoa) %> |
<%= link_to 'Back', hoas_path %>
