<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <title><%= full_title(yield(:title)) %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- Bootstrap CSS -->
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>

</head>

<body>
<!--============================= HEADER =============================-->
<%= render 'layouts/menu' %>
<!--// Main menu Update to reflect Logged-In vs not -->
<%= render 'layouts/login_register' %>
<!--// Log In & Signup -->
<!--//END HEADER -->
<!--============================= YIELD =============================-->
<%= yield %>

<!--//END YIELD -->
  <!--============================= FOOTER =============================-->
  <%= render 'layouts/footer' %>
  <!--//END FOOTER -->


</body>
</html>
